body {
    font-family: verdana;
    font-size: 16px; 
    margin: 0;
}

.menu {
    background-color: #000;
    color: #FFF;
}

.menu nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu nav ul li {
    padding: 10px;
}

.menu nav ul li a {
    color: #FFF;
    text-decoration: none;
}

.slider {
    position: relative;
    height: 250px;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.conteudo {
    background-color: #D2691E;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.box1, .box2, .box3, .box4, .box5, .box6 {
	background-color: #DCDCDC;
	flex: 1 1 30%; /* Cresce, encolhe e ocupa 30% do espaço disponível */
	margin: 5px; /* Adiciona espaçamento entre os boxes */
	min-width: 200px; /* Largura mínima para manter o layout organizado */
}

.image {
	width: 100%; /* Imagem responsiva */
	height: auto; /* Mantém a proporção */
}

.produto {
	margin-top: 0;
	font-size: 18px;
	text-align: center;
}

.rodape {
	background-color: #000;
	height: 50px;
}

